__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/

# exclude reports from source control by default
/model_outputs/

# exclude models from source control by default
/models/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/
sglm/outputs-old/Figure_7_g1--20_20sft/all/tet_run_20230328--20_20sft_0-ft/coefs/732_735_736_776_0_max_iter10000__fit_interceptFalse__alpha0____0__l1_ratio0____0_best_coeffs.h5
sglm/outputs-old/Figure_7_g1--20_20sft/all/tet_run_20230328--20_20sft_0-ft/reconstructs/best_resids_732_735_736_776_0.h5
sglm/outputs-old/Figure_7_g1--20_20sft/all/tet_run_20230328--20_20sft_1-ft/coefs/732_735_736_776_1_max_iter10000__fit_interceptFalse__alpha0____0__l1_ratio0____0_best_coeffs.h5
sglm/outputs-old/Figure_7_g1--20_20sft/all/tet_run_20230328--20_20sft_1-ft/reconstructs/best_resids_732_735_736_776_1.h5
sglm/outputs-old/final_outputs_fig_folder/Figure_7_g1--20_20sft-gDA_ctrl-00-base_simple.png
sglm/outputs-old/final_outputs_fig_folder/Figure_7_g1--20_20sft-gDA_ctrl-01-base_words.png
sglm/outputs-old/final_outputs_fig_folder/Figure_7_g1--20_20sft-gDA_tet-00-base_simple.png
sglm/outputs-old/final_outputs_fig_folder/Figure_7_g1--20_20sft-gDA_tet-01-base_words.png
sglm/outputs-old/final_outputs_old/Figure_7_g1--20_20sft-mse_ci.csv
sglm/outputs-old/final_outputs_old/Figure_7_g1--20_20sft-mse_sctr.csv
sglm/outputs-old/final_outputs_old/Figure_7_g1--20_20sft-r2_sctr.csv
sglm/outputs-old/final_outputs_rev-msesplt/Figure_7_g1--20_20sft-mse_seg-gDA_ctrl=0_0_base_simple_max_iter10000__fit_interceptFalse__alpha0____0__l1_ratio0____0.json
sglm/outputs-old/final_outputs_rev-msesplt/Figure_7_g1--20_20sft-mse_seg-gDA_ctrl=0_1_base_words_max_iter10000__fit_interceptFalse__alpha0____0__l1_ratio0____0.json
sglm/outputs-old/final_outputs_rev-msesplt/Figure_7_g1--20_20sft-mse_seg-gDA_tet=1_0_base_simple_max_iter10000__fit_interceptFalse__alpha0____0__l1_ratio0____0.json
sglm/outputs-old/final_outputs_rev-msesplt/Figure_7_g1--20_20sft-mse_seg-gDA_tet=1_1_base_words_max_iter10000__fit_interceptFalse__alpha0____0__l1_ratio0____0.json
sglm/outputs-old/final_outputs_rev-msesplt/Figure_7_g1--20_20sft-reconstruct-gDA_ctrl=0_0_base_simple_max_iter10000__fit_interceptFalse__alpha0____0__l1_ratio0____0.csv
sglm/outputs-old/final_outputs_rev-msesplt/Figure_7_g1--20_20sft-reconstruct-gDA_ctrl=0_1_base_words_max_iter10000__fit_interceptFalse__alpha0____0__l1_ratio0____0.csv
sglm/outputs-old/final_outputs_rev-msesplt/Figure_7_g1--20_20sft-reconstruct-gDA_tet=1_0_base_simple_max_iter10000__fit_interceptFalse__alpha0____0__l1_ratio0____0.csv
sglm/outputs-old/final_outputs_rev-msesplt/Figure_7_g1--20_20sft-reconstruct-gDA_tet=1_1_base_words_max_iter10000__fit_interceptFalse__alpha0____0__l1_ratio0____0.csv
sglm/outputs-old/final_outputs_rev/Figure_7_g1--20_20sft-kernels-gDA=0_0_base_simple_max_iter10000__fit_interceptFalse__alpha0____0__l1_ratio0____0.csv
sglm/outputs-old/final_outputs_rev/Figure_7_g1--20_20sft-kernels-gDA=0_1_base_words_max_iter10000__fit_interceptFalse__alpha0____0__l1_ratio0____0.csv
sglm/outputs-old/final_outputs_rev/Figure_7_g1--20_20sft-kernels-gDA=1_0_base_simple_max_iter10000__fit_interceptFalse__alpha0____0__l1_ratio0____0.csv
sglm/outputs-old/final_outputs_rev/Figure_7_g1--20_20sft-kernels-gDA=1_1_base_words_max_iter10000__fit_interceptFalse__alpha0____0__l1_ratio0____0.csv
sglm/outputs-old/final_outputs_rev/Figure_7_g1--20_20sft-kernels_raw-gDA=0_0_base_simple_max_iter10000__fit_interceptFalse__alpha0____0__l1_ratio0____0.csv
sglm/outputs-old/final_outputs_rev/Figure_7_g1--20_20sft-kernels_raw-gDA=0_1_base_words_max_iter10000__fit_interceptFalse__alpha0____0__l1_ratio0____0.csv
sglm/outputs-old/final_outputs_rev/Figure_7_g1--20_20sft-kernels_raw-gDA=1_0_base_simple_max_iter10000__fit_interceptFalse__alpha0____0__l1_ratio0____0.csv
sglm/outputs-old/final_outputs_rev/Figure_7_g1--20_20sft-kernels_raw-gDA=1_1_base_words_max_iter10000__fit_interceptFalse__alpha0____0__l1_ratio0____0.csv
sglm/outputs2_old/Figure_1_2/all/f1-pholdout20_0-ft/coefs/63_64_65_66_67_68_69_57_58_59_60_61_53_55_56_0_best_coeffs.h5
sglm/outputs2_old/Figure_1_2/all/f1-pholdout20_0-ft/reconstructs/best_resids_63_64_65_66_67_68_69_57_58_59_60_61_53_55_56_0.h5
sglm/outputs2_old/Figure_1_2/all/f1-pholdout20_1-ft/coefs/63_64_65_66_67_68_69_57_58_59_60_61_53_55_56_1_best_coeffs.h5
sglm/outputs2_old/Figure_1_2/all/f1-pholdout20_1-ft/reconstructs/best_resids_63_64_65_66_67_68_69_57_58_59_60_61_53_55_56_1.h5
sglm/outputs2_old/Figure_1_2/all/f1-pholdout20_2-ft/coefs/63_64_65_66_67_68_69_57_58_59_60_61_53_55_56_2_best_coeffs.h5
sglm/outputs2_old/Figure_1_2/all/f1-pholdout20_2-ft/reconstructs/best_resids_63_64_65_66_67_68_69_57_58_59_60_61_53_55_56_2.h5
sglm/outputs2_old/Figure_3/all/f3-dual-pholdout20_0-ft/coefs/61_63_64_44_51_0_best_coeffs.h5
sglm/outputs2_old/Figure_3/all/f3-dual-pholdout20_0-ft/reconstructs/best_resids_61_63_64_44_51_0.h5
sglm/outputs2_old/Figure_3/all/f3-dual-pholdout20_1-ft/coefs/61_63_64_44_51_1_best_coeffs.h5
sglm/outputs2_old/Figure_3/all/f3-dual-pholdout20_1-ft/reconstructs/best_resids_61_63_64_44_51_1.h5
sglm/outputs2_old/Figure_3/all/f3-dual-pholdout20_2-ft/coefs/61_63_64_44_51_2_best_coeffs.h5
sglm/outputs2_old/Figure_3/all/f3-dual-pholdout20_2-ft/reconstructs/best_resids_61_63_64_44_51_2.h5
sglm/outputs2_old/Figure_3/all/f3-pholdout20_0-ft/coefs/61_63_64_44_51_0_best_coeffs.h5
sglm/outputs2_old/Figure_3/all/f3-pholdout20_0-ft/reconstructs/best_resids_61_63_64_44_51_0.h5
sglm/outputs2_old/Figure_3/all/f3-pholdout20_1-ft/coefs/61_63_64_44_51_1_best_coeffs.h5
sglm/outputs2_old/Figure_3/all/f3-pholdout20_1-ft/reconstructs/best_resids_61_63_64_44_51_1.h5
sglm/outputs2_old/Figure_3/all/f3-pholdout20_2-ft/coefs/61_63_64_44_51_2_best_coeffs.h5
sglm/outputs2_old/Figure_3/all/f3-pholdout20_2-ft/reconstructs/best_resids_61_63_64_44_51_2.h5
sglm/outputs2_old/Figure_4_g1/all/f4-g1-pholdout20_0-ft/coefs/1233_1234_1260_1246_1248_0_best_coeffs.h5
sglm/outputs2_old/Figure_4_g1/all/f4-g1-pholdout20_0-ft/reconstructs/best_resids_1233_1234_1260_1246_1248_0.h5
sglm/outputs2_old/Figure_4_g2/all/f4-g2-pholdout20_0-ft/coefs/1194_1195_1214_1258_1259_0_best_coeffs.h5
sglm/outputs2_old/Figure_4_g2/all/f4-g2-pholdout20_0-ft/reconstructs/best_resids_1194_1195_1214_1258_1259_0.h5
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/full_model_param_set.json
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/basis_column_indices.json
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/combo_df.csv
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_0/fitted_glm.json
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_0/full_model_param_set.json
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_0/holdout.csv
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_0/kfold_cv_idx.npy
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_0/preds.csv
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_0/specific_model_params.json
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_1/fitted_glm.json
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_1/full_model_param_set.json
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_1/holdout.csv
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_1/kfold_cv_idx.npy
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_1/preds.csv
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_1/specific_model_params.json
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_2/fitted_glm.json
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_2/full_model_param_set.json
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_2/holdout.csv
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_2/kfold_cv_idx.npy
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_2/preds.csv
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_2/specific_model_params.json
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/X_y_pairings.json
sglm/outputs_mike-GLM_7030-old/fig/g/-20_+20_rwd_wco_oldfilelist/preproc_params.json
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/full_model_param_set.json
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/iXyp_0/basis_column_indices.json
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/iXyp_0/combo_df.csv
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/fitted_glm.json
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/full_model_param_set.json
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/holdout.csv
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/kfold_cv_idx.npy
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/preds.csv
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/specific_model_params.json
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/fitted_glm.json
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/full_model_param_set.json
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/holdout.csv
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/kfold_cv_idx.npy
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/preds.csv
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/specific_model_params.json
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/fitted_glm.json
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/full_model_param_set.json
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/holdout.csv
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/kfold_cv_idx.npy
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/preds.csv
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/specific_model_params.json
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/iXyp_0/X_y_pairings.json
sglm/outputs_mike-GLM_7030/fig/g/-20_+20_rerun/preproc_params.json
sglm/outputs_mike-GLM_8020-old/irun_0/fitted_glm.json
sglm/outputs_mike-GLM_8020-old/irun_1/fitted_glm.json
sglm/outputs_mike-GLM_8020-old/irun_2/fitted_glm.json
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/full_model_param_set.json
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/iXyp_0/basis_column_indices.json
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/iXyp_0/combo_df.csv
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/fitted_glm.json
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/full_model_param_set.json
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/holdout.csv
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/kfold_cv_idx.npy
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/preds.csv
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/specific_model_params.json
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/fitted_glm.json
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/full_model_param_set.json
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/holdout.csv
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/kfold_cv_idx.npy
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/preds.csv
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/specific_model_params.json
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/fitted_glm.json
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/full_model_param_set.json
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/holdout.csv
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/kfold_cv_idx.npy
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/preds.csv
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/specific_model_params.json
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/iXyp_0/X_y_pairings.json
sglm/outputs_mike-GLM_8020-old2/fig_8020/g1/-20_+20_rerun/preproc_params.json
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/full_model_param_set.json
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/iXyp_0/basis_column_indices.json
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/iXyp_0/combo_df.csv
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/fitted_glm.json
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/full_model_param_set.json
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/holdout.csv
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/kfold_cv_idx.npy
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/preds.csv
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/specific_model_params.json
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/fitted_glm.json
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/full_model_param_set.json
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/holdout.csv
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/kfold_cv_idx.npy
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/preds.csv
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/specific_model_params.json
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/fitted_glm.json
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/full_model_param_set.json
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/holdout.csv
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/kfold_cv_idx.npy
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/preds.csv
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/specific_model_params.json
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/iXyp_0/X_y_pairings.json
sglm/outputs_mike-GLM_8020/fig/g/-20_+20_rerun/preproc_params.json
sglm/outputs_mike-GLM_8020/fig/g/-5_+5_rerun/full_model_param_set.json
sglm/outputs_mike-GLM_8020/fig/g/-5_+5_rerun/iXyp_0/basis_column_indices.json
sglm/outputs_mike-GLM_8020/fig/g/-5_+5_rerun/iXyp_0/combo_df.csv
sglm/outputs_mike-GLM_8020/fig/g/-5_+5_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/fitted_glm.json
sglm/outputs_mike-GLM_8020/fig/g/-5_+5_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/full_model_param_set.json
sglm/outputs_mike-GLM_8020/fig/g/-5_+5_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/holdout.csv
sglm/outputs_mike-GLM_8020/fig/g/-5_+5_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/kfold_cv_idx.npy
sglm/outputs_mike-GLM_8020/fig/g/-5_+5_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/preds.csv
sglm/outputs_mike-GLM_8020/fig/g/-5_+5_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/specific_model_params.json
sglm/outputs_mike-GLM_8020/fig/g/-5_+5_rerun/iXyp_0/X_y_pairings.json
sglm/outputs_mike-GLM_8020/fig/g/-5_+5_rerun/preproc_params.json
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/full_model_param_set.json
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/basis_column_indices.json
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/combo_df.csv
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_0/fitted_glm.json
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_0/full_model_param_set.json
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_0/holdout.csv
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_0/kfold_cv_idx.npy
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_0/preds.csv
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_0/specific_model_params.json
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_1/fitted_glm.json
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_1/full_model_param_set.json
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_1/holdout.csv
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_1/kfold_cv_idx.npy
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_1/preds.csv
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_1/specific_model_params.json
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_2/fitted_glm.json
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_2/full_model_param_set.json
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_2/holdout.csv
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_2/kfold_cv_idx.npy
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_2/preds.csv
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/iXyd_0-ikwargs_0/irun_2/specific_model_params.json
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/iXyp_0/X_y_pairings.json
sglm/outputs_mike-GLM_9010-old/fig/g/-20_+20_rwd_wco_oldfilelist/preproc_params.json
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/full_model_param_set.json
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/iXyp_0/basis_column_indices.json
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/iXyp_0/combo_df.csv
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/fitted_glm.json
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/full_model_param_set.json
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/holdout.csv
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/kfold_cv_idx.npy
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/preds.csv
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_0/specific_model_params.json
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/fitted_glm.json
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/full_model_param_set.json
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/holdout.csv
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/kfold_cv_idx.npy
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/preds.csv
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_1/specific_model_params.json
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/fitted_glm.json
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/full_model_param_set.json
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/holdout.csv
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/kfold_cv_idx.npy
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/preds.csv
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/iXyp_0/iXyd_0-ikwargs_0/irun_2/specific_model_params.json
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/iXyp_0/X_y_pairings.json
sglm/outputs_mike-GLM_9010/fig/g/-20_+20_rerun/preproc_params.json
